# Relatório e analise 1

## importando a base dados

In [1]:
import pandas as pd

In [2]:
import sys
import types
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

client_25ff73ff85dd4c9c8a779e8c65e23f63 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='XXXXXX',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

In [3]:
body = client_25ff73ff85dd4c9c8a779e8c65e23f63.get_object(Bucket='YYYYYY',Key='aluguel.csv')['Body']
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

dados = pd.read_csv(body, sep=";")

In [4]:
type(dados)

pandas.core.frame.DataFrame

In [5]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

## Informações Gerais Sobre a base dados

In [6]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de Dados'])

In [7]:
tipos_de_dados.columns.name ='Variáveis'

In [8]:
print('A base dados apresenta {} registros(imóveis) e {} variavies'.format(dados.shape[0], dados.shape[1]))

A base dados apresenta 32960 registros(imóveis) e 9 variavies