In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [7]:
index = ['Linha' + str(i) for i in range(5)]

In [8]:
s = pd.Series(data = data, index = index)

In [12]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [14]:
s = pd.Series(data)

In [16]:
s1 = s + 2

In [18]:
s2 = s1 + s
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [21]:
data = [[1,2,3], 
        [4,5,6], 
        [7,8,9]]

In [23]:
df = pd.DataFrame(data)

In [25]:
index = ['Linha' + str(i) for i in range(3)]

In [27]:
df = pd.DataFrame(data = data, index = index)

In [30]:
columns = ['Colunas' + str(i) for i in range(3)]

In [31]:
df = pd.DataFrame(data = data, index = index, columns=columns)

In [32]:
df

        Colunas0  Colunas1  Colunas2
Linha0         1         2         3
Linha1         4         5         6
Linha2         7         8         9

In [33]:
df2 = pd.DataFrame(data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}})

In [34]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [35]:
data = [{1,2,3},
        {4,5,6}, 
        {7,8,9}]

In [40]:
df3 = pd.DataFrame(data = data, index = index, columns=columns)

In [42]:
df[ df > 0 ] = 'A'

       Colunas0 Colunas1 Colunas2
Linha0        A        A        A
Linha1        A        A        A
Linha2        A        A        A

In [43]:
df2[ df2 > 0 ] = 'B'

In [44]:
df3[ df3 > 0 ] = 'C'

In [50]:
df4 = pd.concat([df, df2, df3], axis = 1)

In [51]:
df4

,Colunas0,Colunas1,Colunas2,Coluna0,Coluna1,Coluna2,Colunas0,Colunas1,Colunas2
Linha0,A,A,A,B,B,B,C,C,C
Linha1,A,A,A,B,B,B,C,C,C
Linha2,A,A,A,B,B,B,C,C,C